body{
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    color: rgb(65, 62, 62);
}
.pg-title{
    text-align: center;
}
.description{
    text-align: center;
}
